.webdev
{
  font-weight: bolder;
  font-family: "Times New Roman";
  margin: 7px;
  padding-left: 10px;
  background: #e8f2fc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  color: black;
}
.webdev.press
{
  font-weight: bolder;
  font-family: "Times New Roman";
  margin: 7px;
  background: #4f5051;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
a.press {
  color: white;
}

.list-group{
  margin-top: 25px;
}


