.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.fa {
  color: white;
}

.btn
{
  margin: 2px;
}
.list-group{
  position: fixed;
  cursor:pointer;
}
.list-group-item
{
  cursor:pointer;
}

#hiddenPass
{
  font-weight: lighter;
  font-family: "Bell MT";
  color: red;
}
