<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" routerLink="/" id="nav">
    <!--<img src="https://encrypted-tbn0.gstatic.com/-->
      <!--images?q=tbn:ANd9GcQ7KFUTraieZJgtXRgrTfNUECcjeO84V535hx8ekgoRlT27i5KmwQ"-->
         <!--width="30" height="30" alt="">-->
    TA-Portal
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="!user.email">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li class="nav-item" *ngIf="!user.email">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="user.email">
      <a class="nav-link" routerLink="/profile">Welecome {{user.firstName}}</a>
    </li>
    <li class="nav-item" *ngIf="user.email" >
      <button class="nav-link btn-link" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
