
<div class="container">
  <span class="cancel" routerLink="/position/{{positionId}}/applications" *ngIf="profView">
    <i class="fa fa-times"></i></span>
  <a class="btn btn-warning" style="margin-top: 5px" (click)="changeView()"
     *ngIf="!sessionOut && !profView">Public View</a>
  <div class="row justify-content-center align-self-center " *ngIf="!publicView">
    <div class="col-md-10">
      <div class="alert alert-success"  *ngIf="updateS">
        <strong>Success!</strong>Profile Updated.
      </div>
      <div>
        <h2>User profile</h2>
      </div>
      <div class="alert alert-danger"  *ngIf="sessionOut && !publicView">
        <strong>Session Expired!</strong>Please login.
        <a class="float-md-right" routerLink="/login">Login</a>
      </div>
      <br/>
      <div *ngIf="!sessionOut">
        <div class="form-group row" >
          <label class="col-sm-2 col-form-label" for="schoolFld">School</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="input-group-addon">
                <a class="btn btn-dark active">  <i class="fa fa-school"></i>
                </a>
              </div>
              <input id="schoolFld" [(ngModel)]="user.school.name"  type="text"
                     placeholder="School" class="form-control input-md" disabled>

            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2  col-form-label" for="emailFld">Email Address</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="input-group-addon">
                <a class="btn btn-dark active">  <i class="fa fa-envelope"></i>
                </a>
              </div>
              <input id="emailFld" [(ngModel)]="user.email" name="Email Address" type="text"
                     placeholder="Email Address" class="form-control input-md" disabled>

            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="firstNameFld">First Name</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="input-group-addon">
                <a class="btn btn-dark active"> <i class="fa fa-align-justify"></i>
                </a>
              </div>
              <input [(ngModel)]="user.firstName" id="firstNameFld" name="First Name" type="text"
                     placeholder="First Name" class="form-control input-md">
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="lastNameFld">Last Name</label>
          <div class="col-sm-10">
            <div class="input-group">
              <div class="input-group-addon">
                <a class="btn btn-dark active">  <i class="fa fa-align-justify"></i>
                </a>
              </div>
              <input id="lastNameFld" [(ngModel)]="user.lastName" type="text" name="Last Name"
                     placeholder="Last Name" class="form-control input-md">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="resumeFld">Resume</label>
          <div class="col-sm-10">
              <textarea id="resumeFld" [(ngModel)]="user.resume" type="textarea" name="Resume"
                        placeholder="Resume" class="form-control input-md" rows="6"></textarea>
        </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" ></label>
          <div class="col-sm-10">
            <a (click)="update(user)" id="updatebtn" type="button" class="btn btn-success btn-block">Update</a>
            <a  (click)="logout()" class="btn btn-danger btn-block"
                type="button">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="publicView">
  <div class="row justify-content-center align-self-center ">
    <div class="col-md-10">
      <div>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
      </div>
      <br/>


        <div class="form-group row" >
          <label class="col-sm-2 col-form-label">School:</label>
          <div class="dis col-sm-10 col-form-label">
            <h6>{{user.school.name}}</h6>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="emailFld">Email Address:</label>
          <div class="dis col-sm-10 col-form-label">
            <h6>{{user.email}}</h6>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="resumeFld"></label>
          <div class="col-sm-10">
              <textarea style="overflow:auto;resize:none;" disabled [(ngModel)]="user.resume" type="textarea" name="Resume"
                        placeholder="Resume" class="form-control input-md" rows="6"></textarea>
          </div>
        </div>
        <div class="reviews">
          <h5>Rating and Comments</h5>
          <br/>
          <div *ngIf="allApplications.length === 0">
             <h6>No Reviews yet</h6>
          </div>
          <ul class="list-group-flush">
            <li class="list-group-item" *ngFor="let aa of allApplications">
              <h5>{{aa.position.sectionName}} {{aa.position.semester}} {{aa.position.year}}</h5>
              <div class="row stars">
                <div *ngFor="let r of ' '.repeat(aa.instructorRating).split('')" class="gold">
                  <span><i class="fa fa-star"></i></span>
                </div>
                <div *ngFor="let r of ' '.repeat(5 - aa.instructorRating ).split('')">
                  <span><i class="fa fa-star"></i></span>
                </div>
              </div>
              <textarea style="overflow:auto;resize:none; margin: 10px; background: #e1b7b7; padding: 10px" input="textarea" disabled [(ngModel)] = "aa.instructorRemarks" placeholder="Comments"
                        name="remarks" rows="5" cols="40"></textarea>
            </li>
          </ul>

        </div>

    </div>

  </div>
  </div>
</div>

