.list-group-item{
  font-size: large;
  font-weight: bolder;
  margin-bottom: 18px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
.box{
  padding: 10px;
  margin-top: -12px;
  margin-right: -19px;
  margin-left: -19px;
  margin-bottom: -9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review{
  padding: 10px;
  margin-top: 26px;
  margin-bottom: -16px;
}

.btn-warning{
  margin: 10px;
  margin-top: -2px;
}

.rate-container{
  padding: 10px;
}

.gold{
  color: gold;
}
