<legend style="font-weight: bold">
  All Courses
</legend>
<div class="alert alert-danger"  *ngIf="addingError">
  <strong>Error!</strong> There was some error while adding. Please retry
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Course Number</th>
    <th scope="col">School</th>
  </tr>

  <th scope="col">
    <input  [(ngModel)]="instructor.name" type="string" placeholder="Name" class="form-control"
            required #password = "ngModel">
  </th>
  <th scope="col">
    <input  [(ngModel)]="instructor.courseNumber" type="string" placeholder="Course Number" class="form-control"
            required #password = "ngModel" >
  </th>
  <th>
    <input [(ngModel)]="instructor.school" type="text" placeholder="School" required class="form-control"
           #school="ngModel" (input)="schoolChange(instructor.school)">
    <div *ngIf="results.length >0">
      <ul class="list-group" >
        <li class="list-group-item" *ngFor="let school of results"
            (click)="selectSchool(school)">
          {{school.name}}</li>
      </ul>
    </div>
  </th>
  <th scope="col" >
    <a class="btn btn-primary" (click)="addInstructor(instructor)" *ngIf="!isEdit"><i class="fa fa-plus">
    </i></a>
    <a class="btn btn-success" *ngIf="isEdit" (click)="updateInstructor(instructor)" ><i class="fa fa-clipboard-check">
    </i></a>
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let instructor of instructors">
    <td>{{instructor.name}}</td>
    <td>{{instructor.courseNumber}}</td>
    <td>{{instructor.school.name}}</td>
    <td>
        <a class=" btn btn-warning" (click)="editInstructor(instructor)">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger" (click)="deleteInstructor(instructor._id)">
          <i class="fa fa-trash"></i>
        </a>
    </td>
  </tr>
  </tbody>
</table>
